<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="module" src="https://cdn.jsdelivr.net/npm/@microsoft/fast-element@1.6.2/dist/fast-element.min.js"></script>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

</head>

<body>
  <acs-calling-provider id="test" communicationUserId="8:acs:dd9753c0-6e62-4f74-ab0f-c94f9723b4eb_0000000e-8298-e8d0-ac00-343a0d00983c" accessToken="eyJhbGciOiJSUzI1NiIsImtpZCI6IjEwMyIsIng1dCI6Ikc5WVVVTFMwdlpLQTJUNjFGM1dzYWdCdmFMbyIsInR5cCI6IkpXVCJ9.eyJza3lwZWlkIjoiYWNzOmRkOTc1M2MwLTZlNjItNGY3NC1hYjBmLWM5NGY5NzIzYjRlYl8wMDAwMDAwZS04Mjk4LWU4ZDAtYWMwMC0zNDNhMGQwMDk4M2MiLCJzY3AiOjE3OTIsImNzaSI6IjE2NDAxODYyMDEiLCJleHAiOjE2NDAyNzI2MDEsImFjc1Njb3BlIjoiY2hhdCx2b2lwIiwicmVzb3VyY2VJZCI6ImRkOTc1M2MwLTZlNjItNGY3NC1hYjBmLWM5NGY5NzIzYjRlYiIsImlhdCI6MTY0MDE4NjIwMX0.gqZFdz4GBfBwVJ1SpzavCbQJP0DbUaKbodg9ecUdXlbRLqPOwaiIdMrANDycIojp7TjR8baqLkODHPWmXpH-uCYsGWmploMoD4pB4tqky34Ak4Da2GJVM1pTUda5CWV_9ax00o9d8IiheYL551ToavXhMeMgVNroYZ8sXJlYq0T72hg7rHW53MJn8-W4vxFGG39T2t20qxhXfWZt8jJ8gJjBm3hpjinsC7ssoK-uZV2gFoIESTm_y9DPfKlWhvjE-p6_Jf8aj5C2X2dRSRX0MC5BXqJcOwRxDY5zwt0d_aCy8AFcydBKwW0hB_0X2swSzVLH4Az-GHk3AgYT66JC5w">
    This is my communications app
     <acs-microphone-setting id="myMicrophone">my microphone</acs-microphone-setting>
  </acs-calling-provider>
</body>


</html>